# Ignore IDE files
.idea
.vscode
.history

# Ignore DB import/export files
/*.gz

# Ignore project files
/www/*.*
/www/vendor
/www/web/*.*
/www/web/core
/www/web/modules/*.*
/www/web/modules/contrib
/www/web/sites
/www/web/profiles/*.*
/www/web/profiles/contrib
/www/web/themes/*.*
/www/web/themes/contrib
